// Footer Section
footer#footer.footer.container
    .footer__contact
        h1.footer__contact--heading Contact With Me
        p.footer__contact--info Email: yourname@gamil.com
        p.footer__contact--info Mobile: 234 234 2342
    .footer__social
        h1.footer__social--heading Follow Me
        .footer__social--icon
            a(href='#')
            i.fab.fa-facebook
            a(href='#')
            i.fab.fa-instagram-square
            a(href='#')
            i.fab.fa-behance-square
            a(href='#')
            i.fab.fa-dribbble-square
// End Footer Section