// Header Section
section#header
  h1.header__brand MY WEBSITE
  .header__menu
    input#header__menu--toggle(type='checkbox')
    label.header__menu--icon(for='header__menu--toggle')
      i.fa.fa-bars
    ul
      a(href='#hero')
        li Home
      a(href='#services')
        li Services
      a(href='#contact')
        li Contact
      a(href='#about')
        li About
// End  Header Section